<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ems1.system.mapper.AccessInfoMapper">
    <resultMap id="BaseResultMap" type="com.ems1.po.AccessInfo">
        <id column="access_id" jdbcType="INTEGER" property="accessId"/>
        <result column="access_pid" jdbcType="INTEGER" property="accessPid"/>
        <result column="access_name" jdbcType="VARCHAR" property="accessName"/>
        <result column="access_desc" jdbcType="VARCHAR" property="accessDesc"/>
        <result column="access_url" jdbcType="VARCHAR" property="accessUrl"/>
        <result column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="access_pname" jdbcType="VARCHAR" property="accessPname"/>
    </resultMap>
    <sql id="Base_Column_List">
    access_id, access_pid, access_name, access_desc, access_url, role_id
  </sql>
    <select id="getAccessByRoleIdList"  resultMap="BaseResultMap" parameterType="com.ems1.po.AccessInfo">
    select * from access_info where access_id in (
    select access_id from role_access_info where role_id=#{roleId})
    </select>
    <select id="getAccessInfoList" resultMap="BaseResultMap" parameterType="com.ems1.po.AccessInfo">
        select
        <include refid="Base_Column_List"/>
        from access_info
        <if test="accessId!=null and accessId!=''">
            where access_pid=#{accessId}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *, (select access_name from access_info
    where access_id=(select access_pid from access_info
    where access_id=#{accessId, jdbcType=INTEGER})) as access_pname
    from access_info
    where access_id=#{accessId, jdbcType=INTEGER}
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from access_info
    where access_id = #{accessId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.ems1.po.AccessInfo">
    insert into access_info (access_id, access_pid, access_name, 
      access_desc, access_url, role_id
      )
    values (#{accessId,jdbcType=INTEGER}, #{accessPid,jdbcType=INTEGER}, #{accessName,jdbcType=VARCHAR}, 
      #{accessDesc,jdbcType=VARCHAR}, #{accessUrl,jdbcType=VARCHAR}, #{roleId,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.ems1.po.AccessInfo">
        insert into access_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accessId != null">
                access_id,
            </if>
            <if test="accessPid != null">
                access_pid,
            </if>
            <if test="accessName != null">
                access_name,
            </if>
            <if test="accessDesc != null">
                access_desc,
            </if>
            <if test="accessUrl != null">
                access_url,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="accessId != null">
                #{accessId,jdbcType=INTEGER},
            </if>
            <if test="accessPid != null">
                #{accessPid,jdbcType=INTEGER},
            </if>
            <if test="accessName != null">
                #{accessName,jdbcType=VARCHAR},
            </if>
            <if test="accessDesc != null">
                #{accessDesc,jdbcType=VARCHAR},
            </if>
            <if test="accessUrl != null">
                #{accessUrl,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ems1.po.AccessInfo">
        update access_info
        <set>
            <if test="accessPid != null">
                access_pid = #{accessPid,jdbcType=INTEGER},
            </if>
            <if test="accessName != null">
                access_name = #{accessName,jdbcType=VARCHAR},
            </if>
            <if test="accessDesc != null">
                access_desc = #{accessDesc,jdbcType=VARCHAR},
            </if>
            <if test="accessUrl != null">
                access_url = #{accessUrl,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=INTEGER},
            </if>
        </set>
        where access_id = #{accessId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ems1.po.AccessInfo">
    update access_info
    set access_pid = #{accessPid,jdbcType=INTEGER},
      access_name = #{accessName,jdbcType=VARCHAR},
      access_desc = #{accessDesc,jdbcType=VARCHAR},
      access_url = #{accessUrl,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=INTEGER}
    where access_id = #{accessId,jdbcType=INTEGER}
  </update>
</mapper>